body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(157, 200, 224);
}

#content {
    float: left;
    width: 70%;
}

#sidebar {
    float: right;
    width: 25%;
    background-color: #6695ab;
    padding: 10px;
}