<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>{% block title %}Stardew Valley Helper{% endblock %}</title>
    <link href="{% static 'css/stardew.css' %}" rel="stylesheet">
</head>

<body>
    <!-- Added navigation -->
<nav>
    <a href="{% url 'stardew:home' %}">Home</a>
    <a href="{% url 'stardew:season-list' %}">Seasons</a>
    <a href="{% url 'stardew:community_center' %}">Community Center Tracker</a>
    <a href="{% url 'stardew:weather' %}">View Weather</a>

    <span class="nav-right">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <form action="{% url 'stardew:logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'stardew:login' %}">Login</a>
        {% endif %}
    </span>
</nav>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>